.header {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(103, 58, 183, 1);

  .logo {
    flex: 1;
    color: white;
    font-size: 30px;
  }

  .blockchain-toggle-button {
    color: white;
    width: auto;
    display: inline-flex;
    margin-right: 1rem;
    vertical-align: baseline;

    mat-slide-toggle {
      float: left;
      padding-top: 3px;
      margin-left: 0.3em;
    }
  }

  .logout {
    display: flex;
    align-items: center;

    .logout-button {
      padding: 0;
      line-height: 30px;
    }
  }
}
