.container {
  display: flex;

  .review {
    min-width: 500px;

    .title {
      text-align: center;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .actions {
      display: flex;
      justify-content: space-around;
    }
  }
}
