.container {
  height: calc(100% - 40px);
  width: 100%;

  .sidenav {
    width: 200px;
    background-color: var(--side-nav);

    .active {
      border-right: 5px solid var(--primary);
      color: var(--primary);
      font-weight: 600;
    }
  }

  .content {
    padding: 10px;
    background-color: #eaedfa;
  }
}
