.container {
  display: flex;
  justify-content: center;

  .paper {
    max-width: 1200px;
    min-width: 800px;

    .title {
      text-align: center;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .file-input {
        display: none;
      }

      .can-be-reviewed {
        margin-top: 10px;
      }
    }

    .actions {
      display: flex;
      justify-content: space-around;
    }
  }
}

.authorsForm {
  display: flex;
  gap: 5px;
  flex-direction: row;
}
